.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .wrapper > * {
    padding: 20px;
} */

.page-main {
    flex-grow: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
}

.page-header > ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-inline: 120px;
}

.page-header > .header-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-inline: 120px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
}

.main-title > .title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 125px;
}

.title-text > .hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.title-text > .hero-info {
    font-size: 18px;
    color: #f9faf8;
}

.page-main > h2 {
    display: flex;
    justify-content: center;
}

.info-row {
    padding: 20px;
}

.info-row > h2 {
    display: flex;
    justify-content: center;
}

.info-section > .info-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.subtext {
    display: flex;
    justify-content: center;
}

.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 90px;
}

.quote-section > .quote-said {
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-left: 454px;
    margin-right: 454px;
    padding: 20px;
}

.quote-section > .quote-speaker {
    display: flex;
    margin-left: 230px;
    font-weight: bold;
}

.register-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.register-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #3b82f6;
    border-radius: 20px;
    flex-grow: 1;
    margin-left: 550px;
    margin-right: 550px;
    height: 100px;
}

.register-box > .register-texts {
    display: flex;
    flex-direction: column;
    color: #f9faf8;

}

.register-texts > .register-title {
    font-weight: bolder;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
    /* color: #3b82f6; */
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 50px;
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}