body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    margin: 1px;
}

.right-links {
    display: flex;
    list-style: none;
    gap: 30px;
}